
.btn-send{
color: #fff;
background-color: #4ead80;
border-color: #4ead80;
}
.logo{
    height: 50px;
    width: 50px;
}
.navbar{
    background-color: #FFFFFF;
    margin:0%;
    padding: 0%;
    border: 1px solid #FFFFCC;
    height: 50px;
}
.text-center {
  text-align: center;
}
.navbar-toggler{
 font-size: medium;
}
.card{
    border: none;
}

body {
    font-size: 16px;
    background-color: #FFF8EF;
}


h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-weight: 300;
}