{% extends 'base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center">
  <div class="w-100" style="max-width: 600px;">

    <div class="mb-3 mt-4">
      <h2>Регистрация</h2>
    </div>

    {% if form.errors %}
      <div class="alert alert-danger">{{ form.errors }}</div>
    {% endif %}

    <div class="alert alert-light">
      tettst Пройдя регистрацию, вы получите доступ к личному кабинету
    </div>

    <form method="post">
      {% csrf_token %}

      <div class="row g-3">

        <div class="col-12">
          <div class="input-group">
            <span class="input-group-text">{{ form.fio.label }}</span>
            {{ form.fio }}
          </div>
        </div>

<!--        <div class="col-12">-->
<!--          <div class="input-group">-->
<!--            <label class="input-group-text">{{ form.status.label }}</label>-->
            {{ form.status }}
<!--          </div>-->
<!--        </div>-->

        <div class="col-12">
          <div class="input-group">
            <label class="input-group-text">{{ form.email.label }}</label>
            {{ form.email }}
          </div>
        </div>

        <div class="col-12">
          <div class="input-group">
            <label class="input-group-text">{{ form.password1.label }}</label>
            {{ form.password1 }}
          </div>
        </div>

        <div class="col-12">
          <div class="input-group">
            <label class="input-group-text">{{ form.password2.label }}</label>
            {{ form.password2 }}
          </div>
        </div>

        {{ form.school }}

        <div class="col-12">
          <div class="input-group">
            <span class="input-group-text">{{ form.region.label }}</span>
            {{ form.region }}
          </div>
        </div>

      </div>

        <div class="col-12 mt-3">
          <div class="input-group">
            <span class="input-group-text">{{ form.phone.label }}</span>
            {{ form.phone }}
          </div>
        </div>




      <button class="btn btn-outline-primary mt-4" type="submit">
        Отправить
      </button>

    </form>

  </div>
</div>
{% endblock %}

