**/__pycache__
*/__pycache__
db.sqlite3
.python-version
*.pyc
*__pycache__*
.env
*.pyc
*.pyo
media/
data.json
.idea/
node_modules/
frontend/node_modules/
../static/frontend/main.js/main.js


#mailing/migrations
#users/migrations
#map/migrations
vm/

#cert/migrations
#contests/migrations
#**/migrations/*
#**/migrations/**
#!**/migrations
#!**/migrations/__init__.py
#**/**/migrations

../static/frontend/main.js/main.js
