
body {
    background-color: #EFECE3FF;
    margin: 0
}


.texture{
    background-color: #fff;
    background-image: url(https://171809.selcdn.ru/Contests/background_images/back.svg);
    background-position-x: center;
    background-position-y: 85%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.texture::before{
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        pointer-events: none;
        background-image: url(https://cdn.selectel.ru/site/img/texture.91f8215.png);
        background-size: 260px;
        opacity: 0.35;
    }


a {
    color: #3e78a6;
}

a:visited {
    color: #3e78a6;
}

a:visited:hover {
    color: #064375
}

a:hover {
    color: #064375
}


.player-wrapper {
    position: relative;
    padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
    position: absolute;
    top: 0;
    left: 0;
}


.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/*.rectMainPage:hover {*/
/*  fill: #FFFFFF;*/
/*}*/
/*.rectMainPage:not(:hover){*/
/*  transition: 2s;*/
/*}*/

