<html>

{% load static %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="yandex-verification" content="c03fe708bb2bfed8" />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
  />
  <link
    rel="stylesheet"
    href="{% static "frontend/css/App.css" %}"
  />

</head>
<body>
<div id="root">
</div>
<script src="{% static "frontend/main.js/main.js" %}"></script>
</body>


</html>