{% extends 'base.html' %}
{% load static %}

{% block title %}Мероприятия{% endblock %}

{% block content %}

  <div class="mt-1 card col-2 float-right ">
    <div class="card-body">
      {% if user.is_authenticated %}
        <p>{{ user.email }}</p>
        <p class="mb-0"><a href="{% url 'admin:index' %}">Личный кабинет</a>
        </p>
        <p class="mb-0"><a href="{% url 'search_cert' %}">Сертификаты</a></p>
        <p class="mb-0"><a href="{% url 'password_reset' %}">Изменить
          пароль</a></p>
        <p class="mb-0"><a href="{% url 'logout' %}" class='mr-1'>Выход</a></p>

      {% else %}
        <p>Вы не авторизированы!</p>
        <p class="mb-0"><a href="{% url 'login' %} " class='mr-3'>Вход</a></p>
        <p class="mb-0"><a href="{% url 'signup' %}">Регистрация</a></p>
        <p class="mb-0"><a href="{% url 'password_reset' %}">Сброс пароля</a>
        </p>

      {% endif %}
    </div>

  </div>
  <div class="album py-5">
    <div class="container" data-bs-spy="scroll"
         data-bs-target="#navbar-example2" data-bs-offset="0" tabindex="0">


      {% for  message in messages %}
        <div class="alert alert-light col-10" role="alert">
          {{ message.content|safe }}
        </div>

      {% endfor %}



      {% if events %}
        <h3 id="events" class="align-content-center">Мероприятия</h3>
        <hr>
        <div class="row">
          {% for event in events %}
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="{{ event.logo.url }}"
                     class="card-img-top">
                <div class="card-body align-content-center">
                  <h5>{{ event.name }}</h5>
                  {% if event.id in show_events %}
                    <p class="card-text">
                      Вы подписаны. Дополнительная информация отправлена
                      на Ваш email.
                    </p>
                  {% else %}
                    {% if user.is_authenticated %}
                      <form method="post">{% csrf_token %}

                        <input name="teacher" value="{{ user.id }}" hidden>
                        <input name="page_contest" value="{{ event.id }}"
                               hidden>

                        <button type="submit" value="Save"
                                class="btn btn-sm btn-success">
                          Принять участие
                        </button>
                      </form>

                    {% else %}
                      <a href="{% url 'login' %}">
                        <button type="button" class="btn btn-sm btn-danger">
                          Принять участие
                        </button>
                        <hr>
                        <span class="badge bg-light text-dark">Необходима авторизация</span>
                      </a>
                    {% endif %}


                  {% endif %}
                  <hr>
                  <a class="link-primary" data-bs-toggle="collapse"
                     href="#contentEventDetail{{ event.id }}" role="button"
                     aria-expanded="false" aria-controls="contentEventDetail{{ event.id }}">
                    Подробнее
                  </a>
                  <div class="collapse card-text"
                       id="contentEventDetail{{ event.id }}">
                    <p>{{ event.content|safe }}</p>
                  </div>
                </div>
              </div>
            </div>

          {% endfor %}

        </div>
      {% endif %}

      {% if  announcements %}
        <h3 id="announcements" class="align-content-center">Анонсы</h3>
        <hr>

        <div class="row">
          {% for anons in announcements %}
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="{{ anons.logo.url }}"
                     class="card-img-top">
                <div class="card-body align-content-center">
                  <h5>{{ anons.name }}</h5>

                  <hr>

                    <a class="link-primary" data-bs-toggle="collapse"
                     href="#contentAnonsDetail{{ anons.id }}" role="button"
                     aria-expanded="false" aria-controls="contentAnonsDetail{{ anons.id }}">
                    Подробнее
                  </a>
                  <div class="collapse card-text"
                       id="contentAnonsDetail{{ anons.id }}">
                    <p>{{ anons.content|safe }}</p>
                  </div>
                </div>
              </div>
            </div>

          {% endfor %}

        </div>
      {% endif %}

      {% if contests %}
        <h3 id="contests" class="align-content-center">Конкурсы</h3>
        <hr>
        <div class="row">
          {% for contest in contests %}
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="{{ contest.logo.url }}"
                     class="card-img-top">
                <div class="card-body align-content-center">
                  <h5>{{ contest.name }}</h5>
                  <hr>
                    <a class="link-primary" data-bs-toggle="collapse"
                     href="#contentContestDetail{{ contest.id }}" role="button"
                     aria-expanded="false" aria-controls="contentContestDetail{{ contest.id }}">
                    Подробнее
                  </a>
                  <div class="collapse card-text"
                       id="contentContestDetail{{ contest.id }}">
                    <p>{{ contest.content|safe }}</p>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}

    </div>

  </div>
{% endblock %}